.block {
  background-color: blue;
}

.inline {
  background-color: red;
}

.card {
  width: 100px;
  height: 100px;
  background-color: green;
  border: 3px solid skyblue;
  display: none;
  /* display: block; */
  /* display: inline; */
  /* display: inline-block; */
}
